.tile{
    box-sizing: border-box;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#square{
    display: flex;
    flex-wrap: wrap;
}

body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.redIt{
    border-radius: 100%;
    background-color: red;
    width: 70%;
    height: 70%;
}
.endTile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    width: 100%;
    height: 100%;
}