.tile{
    box-sizing: border-box;
}
#square{
    display: flex;
    flex-wrap: wrap;
}

body,html{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.redIt{
    border-radius: 100%;
    background-color: red;
    width: 100%;
    height: 100%;
}